<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>学习内容管理</title>
    <meta th:replace="include/meta :: meta"/>
</head>

<body>
<div class="index" id="wrapper">
    <div th:replace="include/nav :: nav"></div>
    <div th:replace="include/sysMenu :: menu(activeIndex=${500 + learnType.num*10 + learnLevel.num})"></div>

    <div id="page-wrapper">
        <!--<div th:replace="include/bread :: system(type='综合管理', breadText='角色管理', url='/ui/system/role')"></div>-->

        <div class="page-inner">
            <div class="row">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title clearfix">
                                    <div class="title pull-left" th:text="'学习内容管理 > ' + ${learnType.mean} + ' > ' + ${learnLevel.mean}">文化内容管理</div>
                                    <div class="pull-right">
                                        <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"-->
                                           <!--class="collapsed"><i class="fa fa-search"></i> 检索</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="margin-b-sm">
                                <button class="btn btn-success" data-toggle="modal" data-target="#addArticleInfoModal" id="addArticleBtn"><i class="fa fa-plus"></i> 新增</button>
                            </div>
                            <div class="table-responsive" style="overflow-x: hidden;">
                                <table class="table table-striped table-bordered table-hover" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th class="col-md-8">标题</th>
                                        <th class="col-md-2">课时</th>
                                        <th class="col-md-2">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="article, articleStat : ${articleList}" >
                                        <td class="col-md-8" th:text="${article.title}">标题</td>
                                        <td class="col-md-2" th:text="${article.period} le 16 ? '第' + ${article.period} + '课时第' + ${article.num} + '篇': '测评第' + ${article.num} + '篇'">课时</td>
                                        <td class="col-md-2">
                                            <button type="button" class="btn btn-success" th:onclick="'javascript:articleDetail(' + ${article.id} + ');'" >
                                                <span class="glyphicon glyphicon-pencil"></span> 修改
                                            </button>
                                            <button type="button" class="btn btn-success" th:onclick="'javascript:articleDelete(' + ${article.id} + ');'" >
                                                <span class="glyphicon glyphicon-trash"></span> 删除
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新增-->
<div class="modal fade in" id="addArticleInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="false" style="display: none; padding-right: 17px;">
    <div class="modal-dialog" style="width: 1600px;">
        <div class="modal-content" style="width: 1600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modalTitleAdd"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="filledDataAdd" width="1500">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <label class="col-md-3"></label>
                        <div class="col-md-7 warn-info" id="warn-info-add"></div>
                        <div class="col-md-7"><input type="hidden" id="idAdd"/></div>
                        <div class="col-md-1"><input type="hidden" th:value="${learnType.code}" name="learnTypeAdd" id="learnTypeAdd"/></div>
                        <div class="col-md-1"><input type="hidden" th:value="${learnLevel.code}" name="learnLevelAdd" id="learnLevelAdd"/></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 课时</label>
                        <div class="col-md-7 clearfix">
                            <select class="form-control" name="periodAdd" id="periodAdd">
                                <option th:each="period:${periodList}"
                                        th:text="${period} le 16 ? '第' + ${period} + '课时' : '测评'" th:value="${period}" value="1"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 标题</label>
                        <div class="col-md-7 clearfix">
                            <input type="text" maxlength="45" class="form-control" name="titleAdd" id="titleAdd"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 内容</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="10" cols="10" class="form-control" name="contentAdd" id="contentAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题1</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="firstQuestionAdd" id="firstQuestionAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项a</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="firstAAdd" id="firstAAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项b</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="firstBAdd" id="firstBAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项c</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="firstCAdd" id="firstCAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项d</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="firstDAdd" id="firstDAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题1答案</label>
                        <div class="col-md-7 clearfix">
                            <select class="form-control" name="firstAnswerAdd" id="firstAnswerAdd">
                                <option value="a">a</option>
                                <option value="b">b</option>
                                <option value="c">c</option>
                                <option value="d">d</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题1解释</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="firstExplainAdd" id="firstExplainAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题2</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="secondQuestionAdd" id="secondQuestionAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项a</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="secondAAdd" id="secondAAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项b</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="secondBAdd" id="secondBAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项c</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="secondCAdd" id="secondCAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项d</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="secondDAdd" id="secondDAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题2答案</label>
                        <div class="col-md-7 clearfix">
                            <select class="form-control" name="secondAnswerAdd" id="secondAnswerAdd">
                                <option value="a">a</option>
                                <option value="b">b</option>
                                <option value="c">c</option>
                                <option value="d">d</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题2解释</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="secondExplainAdd" id="secondExplainAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题3</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="thirdQuestionAdd" id="thirdQuestionAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项a</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="thirdAAdd" id="thirdAAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项b</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="thirdBAdd" id="thirdBAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项c</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="thirdCAdd" id="thirdCAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项d</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="thirdDAdd" id="thirdDAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题3答案</label>
                        <div class="col-md-7 clearfix">
                            <select class="form-control" name="thirdAnswerAdd" id="thirdAnswerAdd">
                                <option value="a">a</option>
                                <option value="b">b</option>
                                <option value="c">c</option>
                                <option value="d">d</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题3解释</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="thirdExplainAdd" id="thirdExplainAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题4</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fourthQuestionAdd" id="fourthQuestionAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项a</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fourthAAdd" id="fourthAAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项b</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fourthBAdd" id="fourthBAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项c</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fourthCAdd" id="fourthCAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项d</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fourthDAdd" id="fourthDAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题4答案</label>
                        <div class="col-md-7 clearfix">
                            <select class="form-control" name="fourthAnswerAdd" id="fourthAnswerAdd">
                                <option value="a">a</option>
                                <option value="b">b</option>
                                <option value="c">c</option>
                                <option value="d">d</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题4解释</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fourthExplainAdd" id="fourthExplainAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题5</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fifthQuestionAdd" id="fifthQuestionAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项a</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fifthAAdd" id="fifthAAdd" style="resize: none;"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项b</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fifthBAdd" id="fifthBAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项c</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fifthCAdd" id="fifthCAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项d</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fifthDAdd" id="fifthDAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题5答案</label>
                        <div class="col-md-7 clearfix">
                            <select class="form-control" name="fifthAnswerAdd" id="fifthAnswerAdd">
                                <option value="a">a</option>
                                <option value="b">b</option>
                                <option value="c">c</option>
                                <option value="d">d</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项a解释</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fifthExplainAdd" id="fifthExplainAdd" style="resize: none;"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply"></i> 取消</button>
                <button type="button" class="btn btn-success" id="addArticleInfo"><i class="fa fa-check"></i> 新增</button>
            </div>
        </div>
    </div>
</div>

<!--修改-->
<div class="modal fade in" id="editArticleInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="false" style="display: none; padding-right: 17px;">
    <div class="modal-dialog" style="width: 1600px;">
        <div class="modal-content" style="width: 1600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="filledData">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <label class="col-md-3"></label>
                        <div class="col-md-7 warn-info" id="warn-info"></div>
                        <div class="col-md-7"><input type="hidden" id="id"/></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 课时</label>
                        <div class="col-md-7 clearfix">
                            <select class="form-control" name="periodUpdate" id="periodUpdate" disabled="disabled">
                                <option th:each="period:${periodList}"
                                        th:text="${period} le 16 ? '第' + ${period} + '课时' : '测评'" th:value="${period}" value="1"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 标题</label>
                        <div class="col-md-7 clearfix">
                            <input type="text" maxlength="45" class="form-control" name="titleUpdate" id="titleUpdate"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 内容</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="10" cols="10" class="form-control" name="contentUpdate" id="contentUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题1</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="firstQuestionUpdate" id="firstQuestionUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项a</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="firstAUpdate" id="firstAUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项b</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="firstBUpdate" id="firstBUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项c</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="firstCUpdate" id="firstCUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项d</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="firstDUpdate" id="firstDUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题1答案</label>
                        <div class="col-md-7 clearfix">
                            <select class="form-control" name="firstAnswerUpdate" id="firstAnswerUpdate">
                                <option value="a">a</option>
                                <option value="b">b</option>
                                <option value="c">c</option>
                                <option value="d">d</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题1解释</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="firstExplainUpdate" id="firstExplainUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题2</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="secondQuestionUpdate" id="secondQuestionUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项a</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="secondAUpdate" id="secondAUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项b</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="secondBUpdate" id="secondBUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项c</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="secondCUpdate" id="secondCUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项d</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="secondDUpdate" id="secondDUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题2答案</label>
                        <div class="col-md-7 clearfix">
                            <select class="form-control" name="secondAnswerUpdate" id="secondAnswerUpdate">
                                <option value="a">a</option>
                                <option value="b">b</option>
                                <option value="c">c</option>
                                <option value="d">d</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题2解释</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="secondExplainUpdate" id="secondExplainUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题3</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="thirdQuestionUpdate" id="thirdQuestionUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项a</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="thirdAUpdate" id="thirdAUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项b</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="thirdBUpdate" id="thirdBUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项c</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="thirdCUpdate" id="thirdCUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项d</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="thirdDUpdate" id="thirdDUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题3答案</label>
                        <div class="col-md-7 clearfix">
                            <select class="form-control" name="thirdAnswerUpdate" id="thirdAnswerUpdate">
                                <option value="a">a</option>
                                <option value="b">b</option>
                                <option value="c">c</option>
                                <option value="d">d</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题3解释</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="thirdExplainUpdate" id="thirdExplainUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题4</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fourthQuestionUpdate" id="fourthQuestionUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项a</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fourthAUpdate" id="fourthAUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项b</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fourthBUpdate" id="fourthBUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项c</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fourthCUpdate" id="fourthCUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项d</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fourthDUpdate" id="fourthDUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题4答案</label>
                        <div class="col-md-7 clearfix">
                            <select class="form-control" name="fourthAnswerUpdate" id="fourthAnswerUpdate">
                                <option value="a">a</option>
                                <option value="b">b</option>
                                <option value="c">c</option>
                                <option value="d">d</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题4解释</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fourthExplainUpdate" id="fourthExplainUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题5</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fifthQuestionUpdate" id="fifthQuestionUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项a</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fifthAUpdate" id="fifthAUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项b</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fifthBUpdate" id="fifthBUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项c</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fifthCUpdate" id="fifthCUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项d</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fifthDUpdate" id="fifthDUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 问题5答案</label>
                        <div class="col-md-7 clearfix">
                            <select class="form-control" name="fifthAnswerUpdate" id="fifthAnswerUpdate">
                                <option value="a">a</option>
                                <option value="b">b</option>
                                <option value="c">c</option>
                                <option value="d">d</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 选项a解释</label>
                        <div class="col-md-7 clearfix">
                            <textarea rows="３" cols="10" class="form-control" name="fifthExplainUpdate" id="fifthExplainUpdate" style="resize: none;"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply"></i> 取消</button>
                <button type="button" class="btn btn-success" id="saveArticleInfo"><i class="fa fa-check"></i> 保存</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="include/meta :: javascript"/>
<script src="/js/article.js"></script>
<script type="text/javascript">
    // 查看详情
    function articleDetail(id) {
        console.log('id: ' + id);
        $('#editArticleInfo').modal('show');
        $('#warn-info').html('');
        var params = {
            id : id
        };
        $.ajax({
            url: "/article/detail",
            type: 'post',
            data: params,
            dataType: "json",
            success: function (data) {
//                console.log('data: ' + data);
                $('#id').val(data.id);
                $('#periodUpdate').val(data.period);
                $('#titleUpdate').val(data.title);
                $('#contentUpdate').val(data.content);
                $('#firstQuestionUpdate').val(data.firstQuestion);
                $('#firstAUpdate').val(data.firstA);
                $('#firstBUpdate').val(data.firstB);
                $('#firstCUpdate').val(data.firstC);
                $('#firstDUpdate').val(data.firstD);
                $('#firstAnswerUpdate').val(data.firstAnswer);
                $('#firstExplainUpdate').val(data.firstExplain);
                $('#secondQuestionUpdate').val(data.secondQuestion);
                $('#secondAUpdate').val(data.secondA);
                $('#secondBUpdate').val(data.secondB);
                $('#secondCUpdate').val(data.secondC);
                $('#secondDUpdate').val(data.secondD);
                $('#secondAnswerUpdate').val(data.secondAnswer);
                $('#secondExplainUpdate').val(data.secondExplain);
                $('#thirdQuestionUpdate').val(data.thirdQuestion);
                $('#thirdAUpdate').val(data.thirdA);
                $('#thirdBUpdate').val(data.thirdB);
                $('#thirdCUpdate').val(data.thirdC);
                $('#thirdDUpdate').val(data.thirdD);
                $('#thirdAnswerUpdate').val(data.thirdAnswer);
                $('#thirdExplainUpdate').val(data.thirdExplain);
                $('#fourthQuestionUpdate').val(data.fourthQuestion);
                $('#fourthAUpdate').val(data.fourthA);
                $('#fourthBUpdate').val(data.fourthB);
                $('#fourthCUpdate').val(data.fourthC);
                $('#fourthDUpdate').val(data.fourthD);
                $('#fourthAnswerUpdate').val(data.fourthAnswer);
                $('#fourthExplainUpdate').val(data.fourthExplain);
                $('#fifthQuestionUpdate').val(data.fifthQuestion);
                $('#fifthAUpdate').val(data.fifthA);
                $('#fifthBUpdate').val(data.fifthB);
                $('#fifthCUpdate').val(data.fifthC);
                $('#fifthDUpdate').val(data.fifthD);
                $('#fifthAnswerUpdate').val(data.fifthAnswer);
                $('#fifthExplainUpdate').val(data.fifthExplain);
            }
        });
    }

    // 删除
    function articleDelete(id) {
        console.log('id: ' + id);
        var params = {
            id : id
        };
        $.ajax({
            url: "/article/delete",
            type: 'post',
            data: params,
            dataType: "json",
            success: function (result) {
                if(result.code == 0){
                    iosOverlay({
                        text: "删除成功",
                        duration: 2e3,
                        icon: "/assets/img/check.png"
                    });
                    setTimeout(function(){
                        location.reload(true);
                    }, 1000);
                }
            }
        });
    }
</script>
</body>
</html>