<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册用户管理</title>
    <meta th:replace="include/meta :: meta"/>
</head>

<body>
<div class="index" id="wrapper">
    <div th:replace="include/nav :: nav"></div>
    <div th:replace="include/sysMenu :: menu(activeIndex=1)"></div>

    <div id="page-wrapper">
        <!--<div th:replace="include/bread :: system(type='综合管理', breadText='注册用户管理', url='/ui/system/role')"></div>-->

        <div class="page-inner">
            <div class="row">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title clearfix">
                                    <div class="title pull-left">注册用户管理</div>
                                    <!--<div class="pull-right">-->
                                        <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"-->
                                           <!--class="collapsed"><i class="fa fa-search"></i> 检索</a>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body" style="padding: 15px 0 0 0;">
                                    <div class="filter col-md-12">
                                        <form class="form-inline" id="formData">
                                            <div class="form-group">
                                                <label>注册用户名称</label>
                                                <input type="text" class="form-control w150" name="name"/>
                                            </div>
                                            <div class="form-group">
                                                <label>注册用户描述</label>
                                                <input type="text" class="form-control w400" name="memo"/>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-success" id="searchBtn"><i
                                                        class="fa fa-search"></i> 查询
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="margin-b-sm">
                                    <!--<button class="btn btn-success" data-toggle="modal" data-target="#addCultureInfoModal" id="addCultureBtn"><i class="fa fa-plus"></i> 新增</button>-->
                                </div>
                                <div class="table-responsive" style="overflow-x: hidden;">
                                    <table class="table table-striped table-bordered table-hover" id="dataTable">
                                        <thead>
                                        <tr>
                                            <th class="col-md-2">登录名</th>
                                            <th class="col-md-2">姓名</th>
                                            <th class="col-md-1">性别</th>
                                            <th class="col-md-2">电话</th>
                                            <th class="col-md-2">邮箱</th>
                                            <th class="col-md-1">国籍</th>
                                            <th class="col-md-2">兴趣</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="passwd, passwdStat : ${passwdList}" >
                                            <th class="col-md-2" th:text="${passwd.loginName}">登录名</th>
                                            <th class="col-md-2" th:text="${passwd.name}">姓名</th>
                                            <th class="col-md-1" th:text="${passwd.gender} == 0 ? '男' : '女'">性别</th>
                                            <th class="col-md-2" th:text="${passwd.tel}">电话</th>
                                            <th class="col-md-2" th:text="${passwd.email}">邮箱</th>
                                            <th class="col-md-1" th:text="${passwd.nationalDesc}">国籍</th>
                                            <th class="col-md-2" th:text="${passwd.interests}">兴趣</th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="include/meta :: javascript"/>
</body>
</html>