<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>系统用户管理</title>
    <meta th:replace="include/meta :: meta"/>
</head>

<body>
<div class="index" id="wrapper">
    <div th:replace="include/nav :: nav"></div>
    <div th:replace="include/sysMenu :: menu(activeIndex=2)"></div>

    <div id="page-wrapper">
        <!--<div th:replace="include/bread :: system(type='综合管理', breadText='系统用户管理', url='/ui/system/role')"></div>-->

        <div class="page-inner">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title clearfix">
                                <div class="title pull-left">系统用户管理</div>
                                <div class="pull-right">
                                    <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"-->
                                       <!--class="collapsed"><i class="fa fa-search"></i> 检索</a>-->
                                </div>
                            </div>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body" style="padding: 15px 0 0 0;">
                                <div class="filter col-md-12">
                                    <form class="form-inline" id="formData">
                                        <div class="form-group">
                                            <label>系统用户名称</label>
                                            <input type="text" class="form-control w150" name="name"/>
                                        </div>
                                        <div class="form-group">
                                            <label>系统用户描述</label>
                                            <input type="text" class="form-control w400" name="memo"/>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-success" id="searchBtn"><i
                                                    class="fa fa-search"></i> 查询
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="margin-b-sm">
                                <button class="btn btn-success" data-toggle="modal" data-target="#addAdminInfoModal" id="addAdminBtn"><i class="fa fa-plus"></i> 新增</button>
                            </div>
                            <div class="table-responsive" style="overflow-x: hidden;">
                                <table class="table table-striped table-bordered table-hover" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th class="col-md-3">用户名</th>
                                        <th class="col-md-3">姓名</th>
                                        <th class="col-md-3">角色</th>
                                        <th class="col-md-3">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="admin, adminStat : ${adminList}">
                                        <th class="col-md-3" th:text="${admin.loginName}">用户名</th>
                                        <th class="col-md-3" th:text="${admin.name}">姓名</th>
                                        <th class="col-md-3" th:text="${admin.roleName}">角色</th>
                                        <th class="col-md-3">
                                            <button type="button" class="btn btn-success" th:onclick="'javascript:adminDetail(' + ${admin.id} + ');'" >
                                                <span class="glyphicon glyphicon-pencil"></span> 修改
                                            </button>
                                            <button type="button" class="btn btn-success" th:onclick="'javascript:adminDelete(' + ${admin.id} + ');'" >
                                                <span class="glyphicon glyphicon-trash"></span> 删除
                                            </button>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--系统用户新增-->
<div class="modal fade in" id="addAdminInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="false" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="filledData">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <label class="col-md-3"></label>
                        <div class="col-md-7 warn-info" id="warn-info"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 用户名</label>
                        <div class="col-md-7 clearfix">
                            <input type="text" maxlength="20" class="form-control" name="loginName" id="loginName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 密码</label>
                        <div class="col-md-7 clearfix">
                            <input type="password" maxlength="20" class="form-control" name="password" id="password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 姓名</label>
                        <div class="col-md-7 clearfix">
                            <input type="text" maxlength="20" class="form-control" name="name" id="name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">角色</label>
                        <div class="col-md-7">
                            <select class="form-control" name="roleId" id="roleId">
                                <option value=""></option>
                                <option th:each="role:${roleList}" th:text="${role.name}" th:value="${role.id}" th:checked="${role.id == 1}" value="1"></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply"></i> 取消</button>
                <button type="button" class="btn btn-success" id="addAdminInfo"><i class="fa fa-check"></i> 新增</button>
            </div>
        </div>
    </div>
</div>

<!--系统用户修改-->
<div class="modal fade in" id="updateAdminInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="false" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modalUpdateTitle"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="filledUpdateData">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <label class="col-md-3"></label>
                        <div class="col-md-7 warn-info" id="warn-info-update"></div>
                        <div class="col-md-7"><input type="hidden" id="updateId"/></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 用户名</label>
                        <div class="col-md-7 clearfix">
                            <input type="text" maxlength="20" class="form-control" name="loginName" id="updateLoginName" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 密码</label>
                        <div class="col-md-7 clearfix">
                            <input type="password" maxlength="20" class="form-control" name="password" id="updatePassword"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 姓名</label>
                        <div class="col-md-7 clearfix">
                            <input type="text" maxlength="20" class="form-control" name="name" id="updateName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">角色</label>
                        <div class="col-md-7">
                            <select class="form-control" name="roleId" id="updateRoleId">
                                <option th:each="role:${roleList}" th:text="${role.name}" th:value="${role.id}" th:checked="${role.id == 1}" value="1"></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply"></i> 取消</button>
                <button type="button" class="btn btn-success" id="updateAdminInfo"><i class="fa fa-check"></i> 保存</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="include/meta :: javascript"/>
<script src="/js/systemCustomer.js"></script>
<script type="text/javascript">
    // 查看详情
    function adminDetail(id) {
        $('#updateAdminInfoModal').modal('show');
        $('#warn-info-update').html('');
        var params = {
            id : id
        };
        $.ajax({
            url: "/admin/detail",
            type: 'post',
            data: params,
            dataType: "json",
            success: function (data) {
                console.log('data: ' + data.id);
                $('#updateId').val(data.id);
                $('#updateLoginName').val(data.loginName);
                $('#updatePassword').val(data.password);
                $('#updateName').val(data.name);
                $('#updateRoleId').val(data.roleId);
            }
        });
    }

    // 删除
    function adminDelete(id) {
        var params = {
            id : id
        };
        $.ajax({
            url: "/admin/delete",
            type: 'post',
            data: params,
            dataType: "json",
            success: function (result) {
                if(result.code == 0){
                    iosOverlay({
                        text: "删除成功",
                        duration: 2e3,
                        icon: "/assets/img/check.png"
                    });
                    setTimeout(function(){
                        location.reload(true);
                    }, 1000);
                }
            }
        });
    }
</script>
</body>
</html>