<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en"></html>-->
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" class="__meteor-css__" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" class="__meteor-css__" href="/assets/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" class="__meteor-css__" href="/css/customerHome.css" />
    <script src="/assets/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/customerIndex.js" type="text/javascript"></script>
    <title>在线学习系统</title>
</head>
<body>
<div class="container" style="padding-left: 1px;padding-right: 1px;">
    <section id="main"><!-- #main content and sidebar area -->
        <section id="content" style="width: 870px; height: 1000px;"><!-- #content -->
            <!--<article>-->
                <!--<h2 th:text="${culture.title}" class="color: #407E80;">First Article Title</h2>-->
                <!--&lt;!&ndash;<p th:text="${culture.content}" class="text-indent:2em;"> Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>&ndash;&gt;-->
                <!--<p th:each="cont, contStat : ${culture.contents}" th:text="'  ' + ${cont}" style="font-size: 20px;line-height: 27px;text-indent: 2em;"></p>-->
            <!--</article>-->

            <article>
                <h2 th:each="period, periodStat : ${periodList}">
                    <a href="#" target="_blank"
                       th:href="@{'/customer/articleDetail/' + ${learnType} + '/' + ${learnLevel} + '/' + ${period} + '/0/0'}"
                       th:text="${period} le 16 ? '第' + ${period} + '课时' : '测评'">First Article Title</a>
                    &nbsp;&nbsp;

                    <span class="glyphicon glyphicon-ok" th:if="${period} lt ${periodProgress}"></span>
                </h2>

            </article>

            <!--<div th:each="period, periodStat : ${periodList}" th:text="${period} le 16 ? '第' + ${period} + '课时' : '测评'">-->
                <!--&lt;!&ndash;<a th:href="@{'/customer/articleDetail/' + ${learnType} + '/' + ${learnLevel} + '/' + ${period}"></a>&ndash;&gt;-->
            <!--</div>-->
        </section>

    </section>
</div>
</body>
</html>