<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en"></html>-->
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" class="__meteor-css__" href="../../static/assets/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" class="__meteor-css__" href="../../static/assets/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" class="__meteor-css__" href="../../static/css/customerHome.css" />
    <script src="../../static/assets/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="../../static/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../static/js/customerIndex.js" type="text/javascript"></script>
    <title>在线学习系统</title>
    <style>
        a.disabled {
            pointer-events: none;
            cursor: default;
        }

    </style>
</head>
<body>
<div class="container" style="padding-left: 1px;padding-right: 1px;">
    <section id="main"><!-- #main content and sidebar area -->
        <div style="height: 30px; margin-left: 45px;">
            <a href="http://www.baidu.com" style="font-size: 20px;line-height: 27px; text-decoration: underline; ">上一篇</a>
        </div>
        <div style="min-height: 50px;">
            <section id="content" style="width: 870px;"><!-- #content -->
                <article>
                    <h2 style="color: #407E80; text-align: center">First Article Title</h2>
                    <!--<p th:text="${article.content}" class="text-indent:2em;"> Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>-->
                    <p style="font-size: 20px;line-height: 27px;text-indent: 2em;">Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
                    <p style="font-size: 20px;line-height: 27px;text-indent: 2em;">Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
                    <p style="font-size: 20px;line-height: 27px;text-indent: 2em;">Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
                    <p style="font-size: 20px;line-height: 27px;text-indent: 2em;">Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>



                </article>
            </section>
        </div>
        <a href="http://www.baidu.com"> dfdf</a>
        <a href="http://www.baidu.com" contenteditable="false"> dfdf</a>

        <div>
            <section style="margin-left: 20px; margin-right: 20px;">
                <p style="font-size: 20px;line-height: 27px;text-indent: 1em; color: #333;">请回答问题：</p>
                <p style="font-size: 18px;text-indent: 2em;">1.question. issim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
                <p style="font-size: 18px;text-indent: 2em; text-align: right; color: red;">自己答案：c <span class="glyphicon glyphicon-ok"></span></p>
                <!--<p style="font-size: 18px;text-indent: 2em; text-align: right; color: red;">自己答案：c <span class="glyphicon glyphicon-remove"></span></p>-->
                <p style="font-size: 18px;text-indent: 3em;">
                    <input type="radio" /> &nbsp;
                    a.question. issim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
                <p style="font-size: 18px;text-indent: 3em;">b.question. issim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
                <p style="font-size: 18px;text-indent: 3em;">c.question. issim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
                <p style="font-size: 18px;text-indent: 3em;">d.question. issim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
                <p style="font-size: 18px;line-height: 27px;text-indent: 3em; color: #333;">1.question. issim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
                <p style="font-size: 18px;line-height: 27px;text-indent: 3em; color: #333;">1.question. issim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
                <p style="font-size: 18px;line-height: 27px;text-indent: 2em;">Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
                <a href="http://www.baidu.com" class="disabled"> dfdf</a>
                <a href="http://www.baidu.com" > dfdf</a>
                <p style="font-size: 18px;line-height: 27px;text-indent: 2em; color: #333; font-family: Verdana, Arial, Helvetica, sans-serif;">1. question1</p>
                <p style="font-size: 18px;text-indent: 3em;color: #333; font-family: Verdana, Arial, Helvetica, sans-serif;">a. a select</p>
                <p style="font-size: 18px;text-indent: 3em;color: #333; font-family: Verdana, Arial, Helvetica, sans-serif;">b. a select</p>
                <p style="font-size: 15px;line-height: 1px;text-indent: 3em;color: #333; font-family: Verdana, Arial, Helvetica, sans-serif;">c. a select</p>
                <p style="font-size: 15px;line-height: 1px;text-indent: 3em;color: #333; font-family: Verdana, Arial, Helvetica, sans-serif;">c. a select</p>
                <p style="font-size: 15px;line-height: 1px;text-indent: 3em;color: #333; font-family: Verdana, Arial, Helvetica, sans-serif;">d. a select</p>
            </section>
        </div>
        <div style="height: 60px; margin-right: 45px; text-align: right;">
            <a href="http://www.baidu.com" style="font-size: 20px;line-height: 27px; text-decoration: underline; ">下一篇</a>
        </div>
    </section>
</div>
</body>
</html>